<h2>Leaderboard</h2>

<div>
  <table id="leaderboard" class="tableElement">
  <thead>
    <tr>
      <th class="tableElement">User</th>
      <th class="tableElement">Total Points</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="user in leaderboard.users">
      <td ng-model="user.firstname "+"user.last_name" class="tableElement" name="username"></td>
      <td ng-model="user.user_points" class="tableElement" name="user_points"></td>
    </tr>
  </tbody>
</table>

</div>



<!-- <td><input type="text" name="first_name" ng-model="customer.first_name" class="form-control col-md-1"></td>
<td><input type="text" name="last_name" ng-model="customer.last_name" class="form-control col-md-1"></td> -->
